
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(12px);
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: transform 0.3s ease, background 0.4s ease, opacity 0.4s ease, color 0.4s ease;

  background: linear-gradient(
    135deg,
    rgba(10, 25, 47, 0.85),
    rgba(20, 40, 80, 0.85),
    rgba(30, 60, 110, 0.85)
  );

  border-bottom: 1px solid rgba(100, 149, 237, 0.1);
  color: #dbeafe; 
}


.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
}

.menu li {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #333232;
  transition: color 0.3s ease, transform 0.2s ease;
  padding-bottom: 5px;
  margin-top: 8px;
}

.menu.scrolled li {
  color: #eeeeee;
}

.menu li:hover {
  color: #0c54c0;
  transform: translateY(-2px);
}

.menu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0.5);
  transition: transform 0.3s ease;
}

.menu li:hover::after {
  transform: scaleX(1);
  height: 2%;
  border-bottom: 2px solid #0c54c0;
}

.menu.scrolled li:hover {
  color: #eeeeee;
}
.menu.scrolled li:hover::after {
  color: #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.btn {
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: #0c54c0;
}
.btn.scrolled {
  color: #eeeeee;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo.scrolled button{
  color: #eeeeee;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.4s ease, transform 0.4s ease-in-out;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 844px;

    padding-top: 1rem;  
    pointer-events: none;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  .navbar.scrolled {
    background: #f0f0f0  !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    /* color: #000000 !important; */
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .hide_on_mobile {
    display: none;
  }

  .menu li {
    width: 100%;
    color: #0c54c0;
    text-transform: none;
    text-decoration: none;
    border-bottom: 1px solid rgb(185, 182, 182);
    padding-left: 15px !important;
    padding: 0.5rem;
  }

  .menu li:hover {
    background-color: #dddddd;
    color: #0c54c0;
    text-decoration: none;
  }

  .menu li::after {
    text-decoration: none;
    content: none;
  }

  .menu.scrolled li {
    color: #0c54c0;
  }

  .btn.scrolled {
    color: #0c54c0;
  }
  .logo.scrolled button{
  color: #0c54c0;
}
  .menu_open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  .menu.scrolled {
    background-color: #f0f0f0;
  }

  .hamburger {
    display: block;
    width: 30px;
    height: 24px;
    transition: transform 0.3s ease;
  }

  .hamburger.open {
    transform: rotate(90deg);
  }
}
